<!DOCTYPE html>
<html>
<head>
	<title>Must-Watch List</title>
	<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/css/main.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cardo:400,700" rel="stylesheet">
</head>
	<body>
		<div id="personalContainer" class="container">
			<% include partials/header %>
			<h2>Welcome <%= user.username %></h2>
			<h4>Your Must-Watch List:</h4>
			<div id="refineMovies">
				<button id="notWatched" data-name="notWatched" class="refineButton selected" data-toggle="tooltip" data-placement="right" title="Show Not Watched"><i class="fas fa-eye-slash"></i></button>
				<button id="watched" data-name="watched" class="refineButton" data-toggle="tooltip" data-placement="right" title="Show Watched"><i class="fas fa-eye"></i></button>
				<button id="showAll" data-name="showAll" class="refineButton" data-toggle="tooltip" data-placement="right" title="Show All">All</button>
			</div>

			<div id="personalResults">
				<p id="refineLabel">Unwatched Movies:</p>
				<% movies.forEach(function(movie) { %>
					<% movie.icon = movie.watched ? "fa-eye" : "fa-eye-slash" %>
					<% movie.hidden = movie.watched ? "hidden" : "" %>
					<div class="panel panel-<%= movie.watched %> <%= movie.hidden %>" data-imdbid="<%= movie.imdbid %>">
						<span><%= movie.movie.title %> (<%= movie.movie.year %>)</span>
						<button class="btn delete-button" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fas fa-minus-circle delete-icon"></i></span></button>
						<button class="btn watched-button" data-toggle="tooltip" data-placement="right" title="Toggle Watched"><i class="fas  <%= movie.icon %> watched-icon"></i></button>
					</div>
				<% }) %>
			</div>
		</div>

		<script src="scripts/personallist.js"></script>
	</body>
</html>